# Dependencies
node_modules/

# Build files
dist/
build/

# Environment variables
.env
.env.*

# Vite cache
.vite/

# TypeScript cache
*.tsbuildinfo

# Logs
*.log

# Mac files
.DS_Store
__MACOSX/

# VS Code
.vscode/

# IntelliJ
.idea/